html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h2 {
    padding: 4px;
    margin: 4px;
}

paper-card {
    display: inline-block;
    vertical-align: top;
}

paper-scroll-header-panel {
    height: 100%;
}